{% for variant in product.variants %}{% assign title = variant.title | handle %}{% if title contains 'wholesale' %}{% assign wholesale-product = true %}{% endif %}{% endfor %}
{% if customer %}{% if customer.tags contains 'Wholesale' or customer.tags contains 'wholesale' %}{% assign wholesale-customer = true %}{% endif %}

<select name="id" id="product-select">
	{% for variant in product.variants %}
		{% assign title = variant.title | handle %}
		{% if wholesale-customer and wholesale-product %}
			{% if title contains 'wholesale' %}<option value="{{ variant.id }}">{{ variant.title }}</option>{% endif %}
		{% else %}
			{% unless title contains 'wholesale' %}<option value="{{ variant.id }}">{{ variant.title }}</option>{% endunless %}
		{% endif %}
	{% endfor %}
</select>